<!DOCTYPE html>
<html>
<body>
<form action="/messages" method=post>
    <input type=hidden name=personName value="{{personName}}">
    <input type=text id=message name=message>
    <input type=submit>
</form>
<ul id="messages">
    {{#messagesHeard}}
        <li>{{.}}</li>
    {{/messagesHeard}}
</ul>
</body>
</html>