<!DOCTYPE html>
<html>
<body>
<form action="/message?name={{personName}}" method=post>
    <input type=text name=message>
    <button type=submit>Shout</button>
</form>
<ul>
    <li class="message">test</li>
</ul>
</body>
</html>